#chess {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background: linear-gradient(90deg, #000000 0, transparent 1px), linear-gradient( #000000 0, #ffff00 1px);
    background-size: 40px 40px;
    background-position: 20px 20px;
    background-clip: padding-box;
    border: transparent;
    transform: translate(0, 50vh);
    position: relative;
    top: -300px;
}

.chess-item {
    /* background: #ffff00; */
    /* border: 1px solid #000000; */
    width: 40px;
    height: 40px;
    position: absolute;
}

.chess-item .chess-item-piece {
    border-radius: 10px;
    height: 20px;
    width: 20px;
    margin: 10px auto;
}